{% extends "base.html" %}

{% block page_title %} Users {% endblock page_title %}


{% block content %}

<section class="content">

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit User</h3>
    </div>

    <form class="form-horizontal" method="POST" novalidate>
      {% csrf_token %}
      <div class="box-body">
        <div class="form-group {% if form.password1.errors %} has-error {% endif %}">
          <label for="" class="col-md-2 control-label">Password:</label>
          <div class="col-md-4">
            {{ form.password1 }}
            <span class="help-block">{{ form.password1.errors }}</span>
          </div>
        </div>

        <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
          <label for="" class="col-md-2 control-label">Password Confirmation:</label>
          <div class="col-md-4">
            {{ form.password2 }}
            <span class="help-block">{{ form.password2.errors }}</span>
          </div>
        </div>


      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>

    </form>

  </div>


</section>

{% endblock content %}

{% block script %}

{% endblock script %}
