{% extends "base_login.html" %}


{% block content %}

{% if form.errors %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <p>Your username and password didn't match. Please try again.</p>
  </div>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  <div class="form-group has-feedback">
    {{ form.username }}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    {{ form.password }}
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox icheck">
        <label>
          <input type="checkbox"> Remember Me
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
    </div>
  </div>
</form>

{% endblock content %}



{% block script %}

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>

{% endblock script %}